<footer class="page-footer red darken-4">
    <div class="container">
      <div class="row">
        <div class="col offset-l2 l8 m8 s12 right-align">
          <h5 class="white-text">Hubungi Kami</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#">Keputih, Sukolilo, Surabaya City, East Java 60117</a></li>
            <li><a class="grey-text text-lighten-3" href="#">+62-851-0535-0616</a></li>
            <li><a class="grey-text text-lighten-3" href="#">informatics.its.19@gmail.com</a></li>
          </ul>
        </div>
        <div class="col l4 m4 s12">
            <h5 class="white-text">Enigmatics<sub>app</sub></h5>
            <img src="img/Logo Only.png" class="responsive-img" alt="Logo Enigmatics">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Informatika 2019 ITS
      </div>
    </div>
</footer>