<ul id="dropdown1" class="dropdown-content">
    <li><a href="#organization" class="red-text text-darken-4">Struktur Organisasi</a></li>
    <li><a href="#yelyel" class="red-text text-darken-4">Yel-Yel</a></li>
    <li><a href="#gallery" class="red-text text-darken-4">Galeri</a></li>
</ul>

<li><a class="waves-effect" href="#home">Beranda</a></li>
<li><a class="dropdown-trigger" data-target="dropdown1">Organisasi<i class="material-icons right">arrow_drop_down</i></a></li>
<li><a class="waves-effect" href="#about">Tentang</a></li>